.grab-outer-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    height: 600px;
    .inner-container{
        width: 22%;
        height: 400px;
        background: white;
        box-shadow: 0px 0px 2px 2px lightgray;
        border-radius: 4px;
        padding: 1em 1em;
        .form-data{
            display: flex;
            flex-direction: column;
            .submit-button {
                margin-top: 1em;
            }   
        }
    }
}