.grab-outer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  height: 100vh;
  .inner-container {
    width: 22%;
    height: 500px;
    background: white;
    box-shadow: 0px 0px 2px 2px lightgray;
    border-radius: 4px;
    position: relative;
    .header {
      background: #00b14f;
      color: white;
      height: 2em;
      font-weight: bold;
      letter-spacing: 2px;
      font-size: 18px;
      padding: 0.5em;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .body {
      padding: 1em 1em;
      position: relative;
      height: 81%;
      overflow-y: auto;
      .error-msg{
        color: lightcoral;
        margin-top: 1em;
        text-align: center;
      }
      .e2-bucket{
        padding: 1em;
        text-align: center;
        border: 1px solid darkseagreen;
        border-radius: 6px;
        margin-bottom: 1em;
        color: #193c19;
        box-shadow: 0px 0px 1px 1px;
        font-size: 14px;
    }
    }
    .footer {
      position: absolute;
      display: flex;
      width: 100%;
      justify-content: space-between;
      border-top: 1px solid lightgray;
      padding-top: 0.5em;
      background: white;
      bottom: 0.5em;
      img {
        width: 40px;
        height: 40px;
        cursor: pointer;
        &-selected {
          background: greenyellow;
        }
      }
    }
  }
}
